html {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsl(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
	--font-size: 15px;
	--font-family: "Lexend Deca";
	--title-family: "Big Shoulders Display";
}

div.layout {
	font-family: var(--font-family);
	box-sizing: border-box;
	min-height: 100vh;
	background: var(--very-light-gray);
	display: flex;
	flex-flow: column;
}

main {
	font-size: var(--font-size);
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 5em 1.7em;
}

footer {
	text-align: center;
	padding: 0.25em;
	border-top: 1px solid var(--very-dark-cyan);
}

a {
	text-decoration: none;
	color: var(--very-dark-cyan);
}

a:hover,
a:focus,
a:focus-visible {
	color: var(--dark-cyan);
}

a:focus,
a:focus-visible {
	outline: none;
	text-decoration: underline;
}

