:root {
	/* - Mobile: 375px */
	/* - Desktop: 1440px */

	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);

	--font-size: 15px;

	--font-family: "Lexend Deca", sans-serif;
	--title-family: "Big Shoulders Display", cursive; /* 700 */
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: var(--very-light-gray);
}
